#myModal.reveal-modal.medium
  %h3 Congratulations
  %div
    %span Total Clicks:
    %span#clicks-span
  %div
    %span Total Time:
    %span#time-span
    %span seconds
  %div
    %fieldset
      .row
        %label{:for => "name"} Name
        %input#name{:name => "name", :required => "required", :type => "text"}
      .row
        %label{:for => "email"} Email
        %input#email{:name => "email", :required => "required", :type => "email"}
      .row
        %button{:onclick => "saveUserDetails()"} Submit
  %a.close-reveal-modal{:onclick => "$('#myModal').foundation('reveal', 'close');"} ×
#savedModal.reveal-modal.medium
  %h3 Score Saved
  %div
    %a.button{:href => leaderboard_path }
      Leader board
  %a.close-reveal-modal{:onclick => "$('#savedModal').foundation('reveal', 'close');"} ×
.row
  .large-12.columns
    %h1.title
      Match the GOtv channels
#memorygame.quizy-memorygame
  %ul
    %li.match1
      %img{:src => "/assets/mtv.png"}
    %li.match2
      %img{:src => "/assets/supersport.png"}
    %li.match3
      %img{:src => "/assets/bet.png"}
    %li.match4
      %img{:src => "/assets/africamagic.png"}
    %li.match5
      %img{:src => "/assets/eafrica.png"}
    %li.match6
      %img{:src => "/assets/sonymax.png"}
    %li.match7
      %img{:src => "/assets/natgeo.png"}
    %li.match8
      %img{:src => "/assets/aljazeera.png"}
    %li.match1
      %img{:src => "/assets/mtv.png"}
    %li.match2
      %img{:src => "/assets/supersport.png"}
    %li.match3
      %img{:src => "/assets/bet.png"}
    %li.match4
      %img{:src => "/assets/africamagic.png"}
    %li.match5
      %img{:src => "/assets/eafrica.png"}
    %li.match6
      %img{:src => "/assets/sonymax.png"}
    %li.match7
      %img{:src => "/assets/natgeo.png"}
    %li.match8
      %img{:src => "/assets/aljazeera.png"}

:javascript
  var number_of_clicks = 0;
  var number_of_seconds = 0;
  //var id_of_game = null;

  $(function(){

    $('#memorygame').quizyMemoryGame({
      itemWidth: 150,
      itemHeight: 150,
      itemsMargin:20,
      colCount:4,
      animType:'flip',
      flipAnim:'tb',
      animSpeed:200,
      resultIcons:true,
      gameSummary: false,
      onFinishCall : function(params) {
        $('#clicks-span').html(params.clicks);
        $('#time-span').html(params.time);
        $('#myModal').foundation('reveal', 'open');
        number_of_clicks = params.clicks;
        number_of_seconds = params.time;
        //id_of_game = game_id;
        //result(params.clicks,params.time)
      }
    });

    //function result(clicks,time) {
    //  $.post('/score', {
    //    num_clicks : clicks,
    //    time: time,
    //    ref: game_id
    //  },
    //  function(result) {
    //    console.log("Result ", result);
    //  });
    //}

    //result(23,300);
  });

  function saveUserDetails() {
    var name = $('#name').val();
    var email = $('#email').val();
    $.post('/score', {
      num_clicks : number_of_clicks,
      time: number_of_seconds,
      name: name,
      email: email
    },
    function(result) {
    $('#myModal').foundation('reveal', 'close');
      console.log("Result ", result);
      $('#savedModal').foundation('reveal', 'open');
    });
  }