- if !is_facebook_fan(params)
  .row
    .large-12.columns.banner
      %img.main-banner{:src => "/assets/like-page.jpg", :alt => "You need to like our page"}
- else
  .row.liked
    .large-12.columns.register
      
      %form#mailinglist{:method => "POST", :action => subscribe_path}
        .row
          .large-4.columns.que_pic
            %img{:src => "assets/question-pic.jpg", :alt => ""}/
          .large-8.columns
            %h3.the_que_title Answer and Win !
            %h4.the_que On which channel can you find this dance action ?
            .row
              .large-12.columns
                %input#answer{:type => "text", :name => "fan[answer]", :placeholder => "Show, Star, Channel, Time?", :required => ""}
            .row
              .large-12.columns
                %input#name{:type => "text", :name => "fan[name]", :placeholder => "What do your friends call you?", :required => ""}
            .row
              .large-12.columns
                %input#email.email{:type => "email", :name => "fan[email]", :placeholder => "Your real email, We don't spam. Promise", :required => ""}
                %label.error.duplicate
                  Someone has already registered with that email. If it's you, that's great!
            .row
              .large-12.columns
                %input.button.medium.radius.signup{:type => "submit", :value => "That's my final answer"}
  .row
    .large-12.columns.thankyou
      %img{:src => "/assets/main_banner2.jpg", :alt => ""}
      %h3.thanks
        Thank you
        %span#fan_name+.
        Keep it GOtv for the best entertainment
    .large-12.columns
      .section-container.tabs.auto{ "data-section" => "tabs" }
        %section
          %p.title{"data-section-title" => ""}
            %a.tab-title.tab1{:href => "#panel1"}
              GOtv Special Offer
          .content{"data-section-content" => ""}
            %img{:alt => "Great Offer", :src => "/assets/tab2.jpg"}
            %h3
              GO for a great offer!
            %p 
              It’s easy, simply like our GOtv Facebook page for a chance to win a decoder and a month of free subscription so you can enjoy a great entertaining experience.
        %section
          %p.title{"data-section-title" => ""}
            %a.tab-title.tab2{:href => "#panel2"}
              GOtv Variety
          .content{"data-section-content" => ""}
            %img{:alt => "Local", :src => "/assets/tab1.jpg"}
            %h3
              Go for more variety
            %p
              Whether you’re a fan of sports, movies, reality shows, or searching for wholesome family entertainment, GOtv makes it happen simply and affordably. With our excellent sound and picture quality, entertainment will never be the same.
        %section
          %p.title{"data-section-title" => ""}
            %a.tab-title.tab3{:href => "#panel3"}
              GOtv Digital
          .content{"data-section-content" => ""}
            %img{:alt => "Go Digital", :src => "/assets/tab3.jpg"}
            %h3
              Go for Digital TV
            %p
              Experience the best variety of entertainment on GOtv digital offering. With our crisp picture and sound, you get to enjoy quality channels for as little as Kshs 599 per month.