.row
  .large-12.columns
    %h1.title
      Leaderboard
.row
  .large-12.columns.scores
    %table
      %thead
        %tr
          %th
            Position
          %th
            Name
          %th
            Score
      %tbody
        - @games.each_with_index do |game, index|
          - if !game.fan_id.nil?
            %tr
              %td= index + 1
              %td= game.fan.name
              %td= game.total_time
