.row
  .large-12.columns
    %h1.title
      Leaderboard
.row
  .large-12.columns.scores
    %table
      %thead
        %tr
          %th
            Position
          %th
            Name
          %th
            Score
