.row
  .large-12.columns
    %h1.title
      Match the GOtv channels for your chance to win a GOtv decoder
.row
  .large-12.large-centered.columns
    %img.game_banner{:src => '/assets/game_banner.jpg'}
.row.cta
  .large-2.large-centered.columns
    %a.button.radius.large{:href => game_path }
      Play
.row.cta
  .large-5.large-centered.columns
    %a.button.radius.large.prizes
      Prizes
    %a.button.radius.large{:href => leaderboard_path }
      Leader board